<div id="home" class="row">
  <div class="large-12 columns">
    <h2> {{ title }} </h2>
      <div class='panel callout radius'>
        <div class='row'>
          <div class='large-6 columns'>
            <h3>Points</h3>
            <h5>Filtered Total Points:  {{(students|filter:search).length}}</h5>
            <h5>Total Points: {{ students|filter:search|sumByKeyTotal:'total' }}</h5>
          </div>
          <div class='large-6 columns'>
            <h3>Expenditure</h3>
            <h5>Unspent Balance: &pound; {{ students|filter:search|sumByKey:'grandtotal' }}</h5>
            <h5>Total Spent: &pound; {{ students|filter:search|sumByKey:'spent' }}</h5>
          </div>
        </div>
      </div>
      
      <div class='panel radius'>
        <div class="row">
          <div class="medium-6 columns">
            <label>Search Students</label>
            <input type="text" ng-model="search.$" placeholder="Search by student" />
          </div>
          <div class="medium-6 columns">
            <label>Filter by Yeargroup</label>
            <select ng-model="search.yeargroup">
              <option value="" selected>All Years</option>
              <option value="7">Year 7</option>
              <option value="8">Year 8</option>
              <option value="9">Year 9</option>
              <option value="10">Year 10</option>
              <option value="11">Year 11</option>
              <option value="12">Year 12</option>
              <option value="13">Year 13</option>
              <option value="14">Year 14</option>
            </select>
          </div>
        </div>
      </div>
        <table class='table large-12 columns'>
        <thead>
          <tr>
            <th><a href="" ng-click="reverse = predicate == 'forename' && !reverse; predicate = 'forename'">First name</a></th>
            <th><a href="" ng-click="reverse = predicate == 'surname' && !reverse; predicate = 'surname'">Last name</th>
            <th><a href="" ng-click="reverse = predicate == 'yeargroup' && !reverse; predicate = 'yeargroup'">Year group</th>
            <th><a href="" ng-click="reverse = predicate == 'total' && !reverse; predicate = 'total'">Points</th>
            <th><a href="" ng-click="reverse = predicate == 'spent' && !reverse; predicate = 'spent'">Spent</th>
            <th><a href="" ng-click="reverse = predicate == 'reggroup' && !reverse; predicate = 'reggroup'">Reg Group</th>
            <th><a href="" ng-click="reverse = predicate == 'grandtotal' && !reverse; predicate = 'grandtotal'">Grand Total</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students | filter:search | orderBy:predicate:reverse">
            <td>{{ student.forename }} </td>
            <td>{{ student.surname }}</td>
            <td>{{ student.yeargroup | number:0 }}</td>
            <td>{{ student.total | number:0 }}</td>
            <td>{{ student.spent | number:0 }}</td>
            <td>{{ student.reggroup }}</td>
            <td>{{ student.grandtotal | number:0 }}</td>
            <td><a ng-href="#/manage_student/{{ student.username }}">Manage {{student.forename}}</td>
          </tr>
        </tbody>
      </table>
        
  
  </div><!--.large-12 -->
</div><!--#home, .row -->