<div id="home" class="row">
  <div class="large-12 columns">
    <h2> {{ title }} </h2>
      <div class="row">
        <div class='panel radius'>
          <div class="row">
            <div class="medium-6 columns">
              <label>Search Prizes</label>
              <input type="text" ng-model="search.$" placeholder="Search by prize" />
            </div>
            <div class="medium-6 columns">
              <label>Filter by Yeargroup</label>
              <select ng-model="search.yeargroup">
                <option value="" selected>All Years</option>
                <option value="7">Year 7</option>
                <option value="8">Year 8</option>
                <option value="9">Year 9</option>
                <option value="10">Year 10</option>
                <option value="11">Year 11</option>
                <option value="12">Year 12</option>
                <option value="13">Year 13</option>
                <option value="14">Year 14</option>
              </select>
            </div>
          </div>
        </div>

        <div class='large-12 columns'>
          <a ng-href='#/add-prize' class='button'>Add a prize</a>
        </div>

        <div class="large-4 small-6 columns" ng-repeat="prize in prizes | filter:search" ng-show="prize.show">
          <img src="../../{{prize.image_name}}">

          <div class="panel">
            <a ng-click="restore(prize.id, prize, $index)">Restore</a>
            <h5>{{ prize.title }} </h5>
            <h6 class="subheader">{{ prize.points }} <small>points</small></h6>
            <h6>{{ prize.yeargroup == "0" && 'All Years' || 'Year ' + prize.yeargroup }}</h6>
          </div>
        </div>
  </div><!--.large-12 -->
</div><!--#home, .row -->